body{
    background-image: linear-gradient(rgb(7, 115, 161), aqua);
    height: 600px;  
    color: white;  
}

.botao {
    float: right;
    background-color: rgb(198, 58, 3);
    font-family: Arial; 
    border-radius: 30px; 
    padding-left: 40px;
    padding-right: 40px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    
    
    color: white;
}

#login {
    font-size: small;
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 7px; 
    padding-bottom: 6px; 
    margin-top: -20px;
}

#video  {
    margin-top: 130px;
    text-align: center;
}

#linkPlayTexto {
    color: white;
    text-decoration: none;
}

#comece {
    margin-top: 40px; 
    margin-right: 240px;
    font-size: -20px; 
}

#cabecalho{
    margin-left: 40%;
    display: inline-block;
    border: 2px;
    border-color: black;
 }

 #imagemCabecalho{
    width: 10%; 
    height: 10%; 
    margin-bottom: -6px;
 }


 #titulo {
    text-align: center; 
    font-family: Arial; 
    font-weight: lighter;
 }

 #textoPrincipal {
    text-align: center; 
    line-height: 1.2; 
    font-size: 12px;
 }

 #linkPlayImagem{
    width: 5%; 
    height: 5%; 
    margin-bottom: -12px;
   
 }